	
	<div class ="panel">
	
		<a href="/users/new">register |</a><br>
		<a href="/documents/new">new article</a>

		<form method = "GET" action = "/documents/searchkey" >
		<input type ="text" name = "key" placeholder = "key"> <br>
		<button>search</button>
		</form>
	
	
	<a href="/"> Home </a><br>
	<a href="/documents"> table of contents </a><br>
	<a href="/users"> contributors </a><br>
	<!-- maybe a how to write markdown -->
	
	classified <br>
	<a href ="/tags/igneous"> igneous </a><br>
	<a href ="/tags/metamorphic"> metamorphic </a><br>
	<a href ="/tags/sedimentary"> sedimentary </a><br>
	<a href ="/tags/other"> other </a>
	
	</div>
