<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<div class = "list">
	<% for(var i = 0; i < contribution.length; i++){ %>
		<p> <%= contribution[i].updated_at %>
		<%= contribution[i].name %> of <%= contribution[i].location %>
		<%= contribution[i].edit_summary %> </p> 
	<% } %>
	</div>

</body>
</html>