<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="/style.css" href='http://fonts.googleapis.com/css?family=Lato'>
	<title>diff log</title>
</head>
<body>
	<% include partials/top %>
	<h3> <%= doc.title %> version on <%= diff.updated_at %> </h3>
	<p color style="color:grey"> grey =  original text </p>
	<p color style ="color: red"> red =  deleted text </p>
	<p color style ="color: green"> green =  added text </p>


	<pre id="display"></pre>
	<script src="/diff.js"></script>
	
	<script>
	var diff = <%- diff.diff_content %>;

	diff.forEach(function(part){
	  // green for additions, red for deletions
	  // grey for common parts
	  var color = part.added ? 'green' :
	    part.removed ? 'red' : 'grey';
	  var span = document.createElement('span');
	  span.style.color = color;
	  span.appendChild(document
	    .createTextNode(part.value));
	  display.appendChild(span);
	});
	</script>
	

</body>
</html>




