<!DOCTYPE html> 
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="/style.css" href='http://fonts.googleapis.com/css?family=Lato'>
	<title>wikiROCKS</title>
</head>
	
	<body> 
		<h1> wiki ~/*\ ROCKS /*\~ ლ(ಠ益ಠლ). . .  </h1> 
		<% include partials/top %>
		<div class = "list">
			<% Object.keys(documents).forEach(function(key){ %>
			<li>
				<h3> <%= documents[key].title %> </h3><br> 

				<img src= "<%= documents[key].image %>" height = "100px" width = "auto"><br>
				<%= documents[key].updated_at.substring(0,10) %><br>
				<a href = "/documents/<%= documents[key].id %>"> read more </a>

			</li>
			<% }); %>
		</div>

	</body>
	</html>
