<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<h1> oh no you've stray away </h1>
<img src= "<%= giphy %>" height ="300px" width ="auto"></br>

<a href="/"> GO HOME </a>

</body>
</html>