<!DOCTYPE html>
<html>
<head>
	<title>wikiROCKS</title>
	<style>
	.tags{
		display: inline-block;
		text-decoration: none;
		border: red 1px;
	}

	</style>
</head>
<body>

	<form method = "GET" action = "/documents/search" >
	<input type ="text" name = "title" placeholder = "please enter the exact title"> 
	<button>search</button>
	</form>

	<a href="/documents"> documents </a><br>
	<a href="/users"> people</a><br>
	<div class = "tags" >
	<a href ="/tags/igneous"> igneous </a>
	<a href ="/tags/metamorphic"> metamorphic </a>
	<a href ="/tags/sedimentary"> sedimentary </a>
	</div>
</body>
</html>