<!DOCTYPE html>
<html>
<head>
	<title>wikiROCKS</title>
</head>
<body>

	<form method = "GET" action = "/documents/search" >
	<input type ="text" name = "title" placeholder = "please enter the exact title"> 
	<button>search</button>
	</form>

	<a href="/documents"> documents </a><br>
	<a href="/users"> people</a>

</body>
</html>