<!DOCTYPE html> 
<head>
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="/style.css" href='http://fonts.googleapis.com/css?family=Lato'>
	<title>igneous</title>
</head>
</head>

	<body> 
	<% include partials/top %>
		<h1> igneous rocks  </h1> 
		
		<p> Igneous rocks are formed from the solidification of molten rock material. There are two basic types: 1) intrusive igneous rocks such as diorite, gabbro, granite and pegmatite that solidify below Earth's surface; and 2) extrusive igneous rocks such as andesite, basalt, obsidian, pumice, rhyolite and scoria that solidify on or above Earth's surface. </p>
			<div class = "list">
			<% Object.keys(documents).forEach(function(key){ %>
			<li>
				<p> <%= documents[key].title %> </p><br> 
				<img src= "<%= documents[key].image %>" height = "100px" width = "auto"><br>
				<a href = "/documents/<%= documents[key].id %>"> read more </a>

			</li>
			<% }); %>
			</div>
		<br><a href = "/"> return to search </a>
	</body>
	</html>
