<!DOCTYPE html> 
<head>
<style>
	.list{
		display: inline-block;
		margin:10px;
	}
</style>
</head>

	<body> 
		<h1> Other  </h1> 
		
		<p> We're not sure what these are . . . yet </p>

			<% Object.keys(documents).forEach(function(key){ %>
			<div class = "list">
				<h3> <%= documents[key].title %> </h3><br> 
				<img src= "<%= documents[key].image %>" height = "100px" width = "auto"><br>
				<a href = "/documents/<%= documents[key].id %>"> read more </a>

			</div>
			<% }); %>

		<br><a href = "/"> return to search </a>
	</body>
	</html>
