<!DOCTYPE html> 
<html>
<head> 
	<title> new </title>
</head> 
<body> 
	<!-- assign lastest id to new user -->
	<h2> welcome </h2>

	<form method = "POST" action = "/users" >
		<input type ="text" name ="name" placeholder ="user_name">
		<input type ="text" name ="location" placeholder = "current location">
		<input type ="text" name ="email_address" placeholder = "email address">

		<button> submit </button>
	</form> 

<a href="/users"> see all contributors </a>
</body>
</html>